@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --cor-principal: #289ed4;
    --cor-principal-escura: #0046df;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--cor-principal);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    margin: 50px auto;
    padding: 20px;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--cor-principal);
}

form button {
    border: none;
    background: var(--cor-principal);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--cor-principal-escura);
}